

/* div{
    border: 1px solid red;
} */

/* .mainContainer{
    position: relative;
    border: 1px solid green;
    width: 100%;
    height: 100%;
} */



/* firstLine: reset and board size choose button */

.firstLine{
    position: relative;
    text-align: center;
}

.firstLine div{
    display: inline;
    margin: 30px;
}


/* secondLine: logo */

.secondLine{
    position: relative;
    text-align: center;
}

/* thirdLine: player and winning and fair notification */

.thirdLine{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.thirdLine div{
    /* border: 1px solid green; */
    width: 15%;
    height: 120px;
    margin: 0 18px;
    font-size: 18px;
    font-weight: 800;
}

#pOne,
#pTwo
{
    border: 1px solid rgb(58, 55, 55);
    background-color: #e4e6e8;
    /* background-color: #b5363d; */
    /* background-color: #4577a2; */

}

#pOne{
    border: 1px solid rgb(58, 55, 55);
    background-color: #b5363d;
    color: white;
}



#p1Win,
#fair,
#p2Win
{
    opacity: 0;
}


/* forthLine: for rounds, player 1 & 2 winning times */

.forthLine{
    position: relative;
    text-align: center;
    height: 50px;
}


/* fifthLine: 3 * 3 board */

.zeroRow,
.firstRow,
.secondRow,
.thirdRow,
.forthRow
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 55vh;
    height: 11vh;
    margin: 0 auto;
    justify-content: center;
    /* text-align: center; */
}

.zeroRow div,
.firstRow div,
.secondRow div,
.thirdRow div,
.forthRow div
{
    width: 20%;
    border: 3px solid rgb(58, 55, 55);
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 32%; */
    /* margin: 0; */
}


/* sixthLine: for showing how many rounds */

.sixthLine{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.sixthLine div{
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    margin: 5px;
}

/* seventhLine: for showing player 1 & 2 winning times & tie times */
.seventhLine{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.seventhLineBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 800;
    margin: 10px 30px;
}

.seventhLineBlock div{
    text-align: center;
    margin: 0 7px;
}

#p1WinNo,
#tieNo,
#p2WinNo
{
    opacity: 0;
}














