

/* div{
    border: 1px solid red;
} */

/* .mainContainer{
    position: relative;
    border: 1px solid green;
    width: 100%;
    height: 100%;
} */



/*********** firstLine: reset and board size choose button ***********/

.firstLine{
    position: relative;
    text-align: center;
}

.firstLine div{
    display: inline;
    margin: 30px;
}


/* secondLine: logo */

.secondLine{
    position: relative;
    text-align: center;
}

/************ thirdLine: player and winning and fair notification ************/

.thirdLine{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.thirdLine #p1Win,
.thirdLine #pOne,
.thirdLine #fair,
.thirdLine #pTwo,
.thirdLine #p2Win
{
    /* border: 1px solid green; */
    width: 15%;
    height: 120px;
    margin: 0 18px;
    font-size: 18px;
    font-weight: 800;
}

#pOne,
#pTwo
{
    position: relative;
    border: 1px solid rgb(58, 55, 55);
    background-color: #e4e6e8;
    text-align: center;
    /* background-color: #b5363d; */
    /* background-color: #4577a2; */
}

#pOne{
    border: 1px solid rgb(58, 55, 55);
    background-color: #b5363d;
    color: white;
}

#p1Win,
#fair,
#p2Win
{
    opacity: 0;
}


.pOneProfile,
.pTwoProfile
{
    /* position: relative; */
    height: 50%;
    width: 6vh;
    margin-bottom: 10px;
    margin: 10px auto;
    /* background-image: url(../graph/sasuke.png); */
    /* background-image: none; */
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.pOneProfile p,
.pTwoProfile p
{
    position: relative;
    top: 20%;
    /* opacity: 0; */
}

/* z-index in case the select box is covered by other block */
/* to use z-index, to make sure position is not static */
.dropdownBox{
    position: relative;
    /* height: 20%; */
    z-index: 30;
    width: 100%;
}




/************ forthLine: for rounds, player 1 & 2 winning times ************/

.forthLine{
    position: relative;
    text-align: center;
    height: 50px;
}


/*********************** fifthLine: 3 * 3 board ***********************/

.threeLineBoard{
    display: block;
    /* display: none; */
}

.threeLineBoard .boardThreeRow0,
.threeLineBoard .boardThreeRow1,
.threeLineBoard .boardThreeRow2
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 55vh;
    height: 17vh;
    margin: 0 auto;
    justify-content: center;
    /* text-align: center; */
}

.threeLineBoard .chequer{
    width: 30%;
    border: 3px solid rgb(58, 55, 55);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 32%; */
    /* margin: 0; */
    /* background-image: none; */
    background-size: contain;
}

/************ fifthLine: 5 * 5 board ************/

.fiveLineBoard{
    /* display: block;  */
    display: none;
}

.fiveLineBoard .boardFiveRow0,
.fiveLineBoard .boardFiveRow1,
.fiveLineBoard .boardFiveRow2,
.fiveLineBoard .boardFiveRow3,
.fiveLineBoard .boardFiveRow4
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 55vh;
    height: 11vh;
    margin: 0 auto;
    justify-content: center;
    /* text-align: center; */
}

.fiveLineBoard .chequer
{
    width: 20%;
    border: 3px solid rgb(58, 55, 55);
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 32%; */
    /* margin: 0; */
    background-size: contain;
}

/************ fifthLine: 8 * 8 board ************/

.eightLineBoard{
    /* display: block;  */
    display: none;
}

.eightLineBoard .boardEightRow0,
.eightLineBoard .boardEightRow1,
.eightLineBoard .boardEightRow2,
.eightLineBoard .boardEightRow3,
.eightLineBoard .boardEightRow4,
.eightLineBoard .boardEightRow5,
.eightLineBoard .boardEightRow6,
.eightLineBoard .boardEightRow7
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 53vh;
    height: 6.5vh;
    margin: 0 auto;
    justify-content: center;
    /* text-align: center; */
}

.eightLineBoard .chequer
{
    width: 15%;
    border: 3px solid rgb(58, 55, 55);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 32%; */
    /* margin: 0; */
    background-size: contain;
}


/************ sixthLine: for showing how many rounds ************/

.sixthLine{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.sixthLine div{
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    margin: 5px;
}

/************ seventhLine: for showing player 1 & 2 winning times & tie times ************/
.seventhLine{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.seventhLineBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 800;
    margin: 10px 30px;
}

.seventhLineBlock div{
    text-align: center;
    margin: 0 7px;
}

#p1WinNo,
#tieNo,
#p2WinNo
{
    opacity: 0;
}














