
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');



/* font-family: 'DynaPuff', cursive; */
/* font-family: 'Indie Flower', cursive; */
/* font-family: 'Gloria Hallelujah', cursive; */




div{
    /* border: 1px solid red; */
}

/* .mainContainer{
    position: relative;
    border: 1px solid green;
    width: 100%;
    height: 100%;
} */

body{
    padding: 0;
    margin: 0;
}



/*********** firstLine: reset and board size choose button ***********/

.firstLine{
    position: relative;
    text-align: center;
    height: 30px;
    background-color: #cad1d7;
    /* background-color: #5586ae; */
}

.firstLine div{
    display: inline;
    margin: 30px;
}

.firstLine button{
    margin-top: 5px;
}


/* secondLine: logo */

.secondLine{
    position: relative;
    text-align: center;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
    height: 83px;
    color:white;


    z-index: 1;
}

.b1{
    position: relative;
    display: inline-block;
    z-index: -2;
    width: 100%;
    height: 75px;
    left: -50%;
    top: -82px;
    background-color: #b5363d;
}

.b2{
    position: relative;
    display: inline-block;
    z-index: -2;
    width: 100%;
    height: 75px;
    right: -50%;
    top: -181px;
    background-color: #2a69a0;
}

/************ thirdLine: player and winning and fair notification ************/

.thirdLine{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    height: 135px;
}

.thirdLine #p1Win,
.thirdLine #pOne,
.thirdLine #fair,
.thirdLine #pTwo,
.thirdLine #p2Win
{
    /* border: 1px solid green; */
    width: 15%;
    height: 100%;
    margin: 0 18px;
    /* font-size: 18px; */
    font-weight: 700;
    margin-top: 10px;
}

#pOne,
#pTwo
{
    position: relative;
    /* border: 1px solid rgb(58, 55, 55); */
    background-color: #e4e6e8;
    text-align: center;
    border-radius: 15%;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    /* background-color: #b5363d; */
    /* background-color: #4577a2; */
}

#pOne{
    background-color: #b5363d;
    color: white;
}

#p1Win,
#fair,
#p2Win
{
    position: relative;
    opacity: 0;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
    top: -30px;
    transition-duration: 0.2s;
}

#p1Win img{
    position: relative;
    /* left: -45px; */
    left: -30%;
    z-index: -2;
    top: -55px;
}

#p2Win img{
    position: relative;
    left: -153px;
    /* left: -130%; */
    z-index: -2;
    top: -55px;
    transform: scaleX(-1);
}

#fair{
    font-size: 25px;
}

#fair img{
    position: relative;
    z-index: -10;
    width: 100%;
    top: -50px;
}


.pOneProfile,
.pTwoProfile
{
    /* position: relative; */
    height: 50%;
    width: 6vh;
    margin-bottom: 10px;
    margin: 10px auto;
    /* background-image: url(../graph/sasuke.png); */
    /* background-image: none; */
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.pOneProfile p,
.pTwoProfile p
{
    position: relative;
    top: 20%;
    /* opacity: 0; */
}

/* z-index in case the select box is covered by other block */
/* to use z-index, to make sure position is not static */
.dropdownBox{
    position: relative;
    /* height: 20%; */
    z-index: 30;
    width: 100%;
}

#dropdownOne,
#dropdownTwo
{
    background-color: #e4e6e8;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 600;
    /* font-size: 15px; */
}




/************ forthLine: for rounds, player 1 & 2 winning times ************/

.forthLine{
    position: relative;
    text-align: center;
    height: 50px;
}


/*********************** fifthLine: 3 * 3 board ***********************/

.threeLineBoard{
    display: block;
    /* display: none; */
    margin-top: 14px;
}

.threeLineBoard .boardThreeRow0,
.threeLineBoard .boardThreeRow1,
.threeLineBoard .boardThreeRow2
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 55vh;
    height: 17vh;
    margin: 0 auto;
    justify-content: center;
    /* text-align: center; */
}

.threeLineBoard .chequer{
    width: 30%;
    border: 3px solid rgb(58, 55, 55);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 32%; */
    /* margin: 0; */
    /* background-image: none; */
    background-size: contain;
}

/************ fifthLine: 5 * 5 board ************/

.fiveLineBoard{
    /* display: block;  */
    display: none;
    margin-top: 13px;
}

.fiveLineBoard .boardFiveRow0,
.fiveLineBoard .boardFiveRow1,
.fiveLineBoard .boardFiveRow2,
.fiveLineBoard .boardFiveRow3,
.fiveLineBoard .boardFiveRow4
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 52vh;
    height: 10.2vh;
    margin: 0 auto;
    justify-content: center;
    /* text-align: center; */
}

.fiveLineBoard .chequer
{
    width: 20%;
    border: 3px solid rgb(58, 55, 55);
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 32%; */
    /* margin: 0; */
    background-size: contain;
}

/************ fifthLine: 8 * 8 board ************/

.eightLineBoard{
    /* display: block;  */
    display: none;
    margin-top: 13px;
}

.eightLineBoard .boardEightRow0,
.eightLineBoard .boardEightRow1,
.eightLineBoard .boardEightRow2,
.eightLineBoard .boardEightRow3,
.eightLineBoard .boardEightRow4,
.eightLineBoard .boardEightRow5,
.eightLineBoard .boardEightRow6,
.eightLineBoard .boardEightRow7
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 53vh;
    height: 6.5vh;
    margin: 0 auto;
    justify-content: center;
    /* text-align: center; */
}

.eightLineBoard .chequer
{
    width: 15%;
    border: 3px solid rgb(58, 55, 55);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 32%; */
    /* margin: 0; */
    background-size: contain;
}

.chequer:hover{
    background-color: #e4e6e8;
}

.chequer:active{
    background-color: #848688;
    opacity: 0.5;
}

.chequer{
    position: relative;
    z-index: 3;
}


/************ sixthLine: for showing how many rounds ************/

.sixthLine{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Gloria Hallelujah', cursive;
}

.sixthLine div{
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin: 5px;
}

/************ seventhLine: for showing player 1 & 2 winning times & tie times ************/
.seventhLine{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.seventhLineBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 800;
    margin: 0px 50px;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Gloria Hallelujah', cursive;
}

.seventhLineBlock div{
    text-align: center;
    margin: 0 7px;
}

#p1WinNo,
#tieNo,
#p2WinNo
{
    opacity: 0;
}

.playerOneMark{
    color:#af1018;
}

.playerTwoMark{
    color: #2a69a0;
}










